 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }
 
 .input{
    display: none;
 }

 .container1{
    width: 100%;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%; 
 }

 .gallary{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
 }

 .gallary img{

    width: 100%;
 }
 .container{
    margin-top: 25px;
    width: 100%;
    text-align: center;
 }
 .container2 img{
    width: 15%;
    
 }

h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 55px 0;
}
h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
     
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
.topcontent{
    background-color: rgb(243, 243, 243);
    width: 80%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
} 
h3{
    height: 100%;
    background-color: rgb(233, 250, 255);
    line-height: 60px;
    padding: 0 50px;
    color: rgb(0, 0, 0)
}
label{
    display: inline-block;
    height: 100%;
    padding: 0 5px;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: .5s;
}
label:hover{
color: black;
} 

.photo-gallary{
width: 90%;
margin: auto;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 20px;     
 } 

 .background{
background-color: rgb(255, 255, 255);;

 }